<div class= "nav">
  <h1 class="app-name">麻雀交流・打牌選択補助ツール</h1>
  <div class= "chat-botton">
    <%= link_to "チャット画面(要ユーザー登録）", "#", class: "to-chat" %>
  </div>
  <div class= "dapai-assistance-botton">
    <%= link_to "打牌選択補助ツール", new_status_path, class: "to-dapai-assistance" %>
  </div>
</div>