.hand-input-title {
  margin-top: 10px;
  font-size: 25px;
}

.hand-choice {
  margin:10px 0 20px;
}

.hand-table, .huro-info {
  border-collapse: collapse;
  padding: 0;
  width: 570px;
  table-layout: fixed;
  color: #4CAF50;
  margin-top: 10px;
}

.hand-table td {
  padding: 8px 0 0 0 ;
  text-align: center;
}

.huro-table1, .huro-table2, .huro-table3, .huro-table4 {
  border-collapse: collapse;
  table-layout: fixed;
  margin-top: 10px;
  width: 122px;
}

.huro-table1-td, .huro-table2-td, .huro-table3-td, .huro-table4-td {
  padding: 8px 0 0 0 ;
  position: relative;
  text-align: center;
}

.huro-table1-td p, .huro-table2-td p, .huro-table3-td p, .huro-table4-td p {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  color: white;
  background: brown;
}

.huro-info {
  display:flex;
  justify-content:space-between;
}

.dora {
  vertical-align: middle;
}


/* .hidden{
  display:none;
} */