.hand-input-title {
  margin-top: 10px;
  font-size: 25px;
}

.hand-choice {
  margin:10px 0 20px;
}

.hand-table, .huro-info {
  border-collapse: collapse;
  padding: 0;
  width: 570px;
  table-layout: fixed;
  color: #4CAF50;
  margin-top: 10px;
}

.hand-table td {
  padding: 0.5em 0.5em ;
}

.huro-table1, .huro-table2, .huro-table3, .huro-table4 {
  border-collapse: collapse;
  table-layout: fixed;
  margin-top: 10px;
  width: 122px;
}

.huro-table1 td, .huro-table2 td, .huro-table3 td, .huro-table4 td {
  padding: 8px 8px ;
}

.huro-info {
  display:flex;
  justify-content:space-between;
}

.dora {
  vertical-align: middle;
}


/* .hidden{
  display:none;
} */